footer.footer.mt-auto.py-3
  .container-fluid
    .row.text-center
      .col-sm.mb-3
        span.text-muted Copyright © #{new Date().getFullYear()} Jeremiah van Oosten & @burturt on github
      .col-sm.mb-3
        a(href="/privacy-policy") Privacy Policy
      .col-sm.mb-3
        a(href="/code-of-conduct") Code of Conduct
    .row.text-center
      .col-sm
        p This software is licensed under the MIT license, found #[a(href="LICENSE") here]. The source code of this software may be found #[a(href="https://github.com/burturt/discord-user-manager") here ]
        a.text-dark(href="https://github.com/burturt/discord-user-manager" target="_blank") <i class="fab fa-github"></i>



