<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
        <pages enableViewState="false" />
        <!--
        <customErrors mode="Off"/>
        -->
    </system.web>

    <appSettings>
        <!-- flag1 part3: ***CENSORED*********} -->
        <add key="CompressionCommand" value="/var/www/html/bin/file-compressor" />
        <add key="EncryptedHmacKey" value="***CENSORED*********************" />
    </appSettings>
</configuration>
