{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" media="screen" href="/static/css/menu.css">
{% endblock %}

{% block content %}
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" id="sidebar">
          <li class="sidebar-nav"><a id="menu-toggle" href="/home">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
          <li><a href="/profile">Profile<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
          <li><a href="/password_change">Password Change<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
          <li><a href="/documents">Documents<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
          <li><a href="/about">About<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
          <li><a href="/contact">Contact<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        </ul>
      </div>

    <div class="container" style="margin-top: 3cm">
    <h1>Password Change</h1>
    <form action="" method="post" novalidate>
      <div class="form-group">
        {{ form.hidden_tag() }}
        <p>
            {{ form.opassword.label }}<br>
            {{ form.opassword(size=32,class="form-control") }}<br>
            {% for error in form.opassword.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.npassword.label }}<br>
            {{ form.npassword(size=32,class="form-control") }}<br>
            {% for error in form.npassword.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.cpassword.label }}<br>
            {{ form.cpassword(size=32,class="form-control") }}<br>
            {% for error in form.cpassword.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-success") }}</p>
      </div>
    </form>
  </div>
{% endblock %}
