<center>
  <br>
  <h1>Shortcoding Challenge (v12.18.3)</h1>
  <br>
  <form action="./run">
      <div class="ui input">
      <input name="code" value="b403dec02453843a2b0000001dedb41c0600000078010000db70e2eda185befe000000801800008008020080000000800000008000000080021c53022c11cc60000000001f00000002104c60000000000200000011650402105162ba583ecb0e00000072657475726e2070726f63657373000002084b60000000000000000002104b62000000000e0000000104020007000b3013000d740c080000653000000008000000000000000000a70d26f913000026f729f70026f8120126f65ff8f70226fa5ffaf90126fbab000000022452630000000007000000000000004418000000000000000000000000000000000000496200000000ffffffff0000000000000000000000002b000000020c11bc6102000000000000000600000000000000024011ed0712000214516332b07a22170000006576616c6d616368696e652e3c616e6f6e796d6f75733e006100000000000000000000000000000000446000000000020000004460000000004800000044600000000000000000010c114101600000000001000000240a000060000000000600000080445d61000000000200000000100010000000001a14141414141414" style="width: 300px">
      <input type="hidden" name="length" value="43">
      <input type="submit">
  </div>
  </form>
  
  <pre>    
  ** read /flag at once **
  
  [*] Hall of Fame<span style="font-style: italic; color: #d500ff;"><!-- 1. as3617 (288 chars) -->
  1. jinmo123 (376 chars)
  2. davwwwx (496 chars)
  3. KuroNeko (504 chars)
  4. 03sunf (544 chars)
  5. asdf (584 chars)
  </span>
  
  [!] Hint
  <a href="./source" target="_blank"><i>view source</i></a>
  </pre>
  </center>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>